<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVSTaggedAttributedString_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AVSTaggedAttributedString_macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75323AB91D58B11300798BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75323AC31D58B11300798BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75323AD61D58B13500798BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75323ADF1D58B13600798BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
